@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Crimson+Text&family=Rancho&family=Solitreo&display=swap');
*{  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --primary: hsla(191, 86%, 49%,0.5);
    --secondary:hsla(280, 78%, 69%,0.5);
    --tertiary: hsla(356, 90%, 64%,0.5);
}
title{
  font-family: 'Solitreo';
}
.box-1{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, var(--primary),var(--secondary),var(--tertiary)),url(/images/bg.jpg);
    background-size: cover;
    object-fit: contain;
    padding-top: 90px;

}
.box{
  height: 400px;
  width: 400px;
  margin: auto;


}

.bt{
  width: fit-content ;
  margin: 25px auto;

}
.st{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 999999;
}


.box img{
  height: 200px;
  width: 200px;
  margin: 20px auto;
}
.carousel-caption h3,p{
  color: black;
}
.link-cont a,li{
    list-style:none;
    text-decoration:none;
  color: azure;
    margin-top: 7px;
    font-weight: bold;
    font-size: 18px;
}

/* .button{
  border-radius: 20px !important;
  box-shadow: 10PX 10PX 10PX black;
  height: 5rem !important;
} */
.container2 h2{
  text-align: center;
  padding: 30px;

}

.menubar img{
    height: 100px;
    width: 18rem;
    border-radius: 11px;
}

.menubar{

    display: flex;
    justify-content: space-between;
    padding:   10px ;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.quote{
    font-family: 'Aboreto';

    font-weight: bold;
    text-shadow:10PX 10PX 10PX black;

    font-weight:bold;
    font-size:30px;
    letter-spacing: 3px;
    margin-top: 6rem;
}
/* #demo{
  font-size: 26px;
  color: rgb(0, 0, 0);
  border: 1px solid;
  width: 30rem;
  background-color: white;

  font-weight: bold;
  padding: 16px;

  bottom: 20px;
  box-shadow: 10PX 10PX 10PX black;
  text-align: center;
  border-radius: 15px;
}

.out{
  -webkit-box-align: center;
  -webkit-box-pack: center;
  display: -webkit-box;
} */
.carousel-caption h3{
  border: 2px solid;
  transition: all 0.5s ease-out;
 border-radius: 20px;
 padding: 10px;
}

.quote2{
  color:rgb(248, 248, 252);
  font-size: 20px;

  font-family: 'Solitreo';
  text-shadow:10PX 10PX 10PX black;

  font-family: 'Crimson Text';

}

.link-cont{
    display: flex;
    gap: 30px;
    margin-top: 25px;
}
.link-cont a {
  padding: 10px;
}


.toggle-button {
  display: none;
  justify-content: space-between;
  position: absolute;
  right: 2rem;
  flex-direction: column;
  top: 3.6rem;
  width: 30px;
  height: 20px;
  height: 22px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.toggle-button .bar{

	border: solid;
	border-radius: 8px;
	border-color: rgb(0, 0, 0);
  border-width: 2px;
	background-color: rgb(0, 0, 0);
	height: 1px;
	width: 100%;
  transition: all 0.5s ease-out;
}
.head1{

  justify-content: center;
  margin-top: 40px;
  text-align: center;
  color: azure;
  text-shadow:10PX 10PX 10PX black;
}
.head1 h2{
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.head-text{
    color: azure;
    text-align: center;

    font-family: koulen;
}


#primary li {
  margin: 0 20px;
  position: relative;
}
#primary li a {
  text-decoration: none;
  display: block;
  padding: 5px 0;
  line-height: 1;
  position: relative;
  z-index: 1;
  text-align: center;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to right,  #9d1818 18%, #0573bc 65%, #1d1a1afd 50% );
  background-size: 200% 100%;
  background-position: -100%;
  transition: all 0.3s ease-in-out;
}
#primary li a:before {
  display: block;
  content: "";
  width: 0;
  height: 3px;
  bottom: 5px;
  left: 0;
  bottom: -3px;
  z-index: 0;
  position: absolute;
  background:linear-gradient(to left,#84ff3d, #2eabff) ;
  transition: all 0.3s ease-in-out;
}
#primary li a:hover {
  background-position: 0%;
}
#primary li a:hover:before {
  width: 100%;
}

.end{
  text-align: center;
  color: #fafafc;
  text-shadow:10PX 10PX 10PX black;
  stroke-width: 100px;
  font-stretch: semi-expanded;
  stroke: #ffffff;
  width: fit-content;
  margin: auto;

}

.countdown-timer-container {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 0.3em solid #bb00ff78;
  background-image: url(/images/clock.jpg);
    opacity: 0.7;
    border-radius: 1.6rem;
    box-shadow: inset 5px px 10px #4c2df9f5;
    padding: 15px;
 }
 .countdown-timer-container div {
  width: 25%;
  text-align: center;
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
 }
 .countdown-timer-values {
  font-size: 48px !important;
  color: #ffffff;
 }
 div.not{ 
  color: #ffffff;
  font-weight: bold;
 
 }

.button {
  --c:#5adbb5;
  color: var(--c);
  font-size: 16px;
  border: 0.3em solid rgb(0, 255, 81,0.4);
  border-radius: 1.9em;
  width: 12em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1px;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.4s;
  margin: 1em;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button span{
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.button:hover {
  color: rgb(12, 128, 190);
}

.button:hover span {
  transform: translateY(0) scale(2);
}



.button span:nth-child(1) {
  --n: 1;
}

.button span:nth-child(2) {
  --n: 2;
}

.button span:nth-child(3) {
  --n: 3;
}

.button span:nth-child(4) {
  --n: 4;
}

.details{
  height: 20rem;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details p{
  padding: 20px;
}
details{
  font-size: 20px;
}
.ven{
  text-align: center;
}

.map{
  padding: 30px;
  background-image: url(images/map.jpg);
  display: flex;
  justify-content: center;
  width: 70%;
  margin: auto;
  overflow-x: hidden;
  align-items: center;
  object-fit: cover;
  
}
.ifr{
  border-radius: 5px;

 
}

.carousel-indicators li{
  
  background: #3b8ddf !important;
  color: 3b8ddf;
}
.carousel-indicators li.active{
  border: 2px solid rgb(66, 63, 63) !important;
}
#getintouch{
  text-align: center;


}
#getintouch ul li{
  text-align: center;
  color: black;
  font-weight: normal;
  font-size: 10px;

}
@media (width<900px){
  .menubar{

    flex-direction: column;
  }
  .map{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    height: 300px;
    justify-content: center;
    align-items: center;
  }
  .ifr{
    border-radius: 5px;
    width: 70%;
    margin: auto;
  }

 .end h3{
  font-size: 18px;
}
 #demo{
  font-size: 20px;
  padding: 12px;
 }
  .link-cont{
    display: none;
    width: fit-content;
    margin: auto ;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    background: rgba(167, 167, 227, 0.9);
    position:absolute;
    right: 8vh;
    top: 15vh;
  }
  .link-cont a{

    text-decoration: none;
  }
  .head1 h2{
    font-size: 28px;
    padding: 10px;
  }
  .quote{
    font-size: 18px;
  }
  .end{
    font-size: 20px;
  }

  
  .toggle-button{
    display: flex;
  }
  .countdown-timer-container {
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 0.3em solid #bb00ff78;
    padding: 10px;
    background-image: url(/images/clock.jpg);
    opacity: 0.7;
    border-radius: 1.6rem;
    box-shadow: inset 5px px 10px #4c2df9f5;
   }
  .countdown-timer-container div {
    font-size: 20px;
    text-align: center;}
    div.not{ 
      color: #ffffff;
      font-weight: bold;
     
     }
   .countdown-timer-values {
    font-size: 20px !important;
    color: #ffffff;
    font-weight: bold;
   }

  .link-cont.active{
    display: flex;


  }

        /* Adding transform to the X */
        .toggle-button.close {
          transform: rotate(180deg);
      }

      /* Styling the three lines to make it an X */
      .toggle-button.close .bar:nth-child(1) {
          transform: rotate(45deg) translate(5px, 5px);
      }

      .toggle-button.close .bar:nth-child(2) {
          opacity: 0;
      }

      .toggle-button.close .bar:nth-child(3) {
          transform: rotate(-45deg) translate(9px, -9px);
      }
  .navbar.show {
    visibility: visible;
}



}

.footer{
  width: 100%;
  height: 50px;
}



