*{
    margin: 0px;
    padding: 0px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li,a{
    list-style: none;
    text-decoration: none;
  color: azure;
    margin-top: 7px;
}

.navbar img{
    height: 100px;
    width: 10rem;
    border-radius: 13px;
    
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding:10px 0px ;
    color: azure;
    
}
.link{
    display: flex;
    gap: 30px;
}
.link a{
    padding: 10px;
}
.link a:hover{
    background-color: aliceblue;
    border-radius: 10px;
    color: black;
}
.toggle-button{

	display: none;
	justify-content: space-between;
	position: absolute;
	right: 2rem;
	flex-direction: column;
    top: 3.7rem;
	width: 30px;
	height: 30px;
}
.toggle-button .bar{

	border: solid;
	border-radius: 10px;
	border-color: white;
	background-color: white;
	height: 1.5px;
	width: 100%;
}

@media (width<900px){

    .navbar{
    
        flex-direction: column;
    }
    .link{
    
        display: none;
        flex-direction: column;
        margin-top: 20px;
        text-align: center;
      
    }
    .link a{
    
        width: 100px;
        margin: auto ;
        
        
    }
    .link li{
        border-bottom: 2px solid #7b887b;
        height: 40px;
    }
    .toggle-button{
        display: flex;
    }
    .link.active{
        display: flex;
    
    }
    
    }

.box-1{
    background:linear-gradient(170deg,#2ebf60,#12895e); 
    color: azure;
    padding: 30px;
    height:900px;
}

.head-text{
    text-align: center;
    background-color: #65bc68;
    padding: 10px;
    width: fit-content;
    margin: auto;
    border-radius: 10px;
}
